<html>
  <head>
	  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Flask-BLog-API</title>
  </head>

  <body>
    <header>
      <h1>Blog API</h1>
    </header>

    <nav>
      <div class="w3-bar w3-orange w3-xlarge">
        <a href="{{ url_for('index') }}" class="w3-bar-item w3-button">Home</a>
        <a href="{{ url_for('news') }}" class="w3-bar-item w3-button">Blogovi</a>
        
		
      </div>
    </nav>
	
	<p><label> Svim blogovima pristupaš na: /blogs <label></p>
	<p><label> Jednom blogovu pristupaš na: /blogs/id --> id zamijeni sa brojem <label></p>
	<p><label> Novi blog dodaješ putem forme na: /blogs/add <label></p>
	<p><label> Pojedini blog editiraš na: /blogs/id/edit --> id zamijeni sa brojem<label></p>
	<p><label> Tražilica sadržaja blogova : /blogs/string --> string zamijeni pojmom koji tražiš u sadržaju bloga<label></p>
	<p><label> Dohvat svih blogova jednog autora: /blogs/author_name --> author_name zamijeni sa imenom autora čije blogove tražiš<label></p>
		
	</body>
</html>