{% extends "base.html" %}

{% block content %}
	<h1>{{ title }}</h1>
    <ol>
	    {% for post_id, post_data in blogs.items() %}
	    <hr>
		    <li>
			    <div class="w3-container w3-hover-light-grey">
		    		<!--<a href="{{ url_for('news_post', post_id=post_id) }}">-->
		    			<span>
		    				<!-- <img src="{{ post_data.image }}" height="50px" width="auto" display="inline-block"> -->
		    				<h1>{{ post_data.title}}</h1>
		    			</span>
		    		</a>
		    		<h4>Author: {{ post_data.author }}</h4>
		    		<h5>Date: {{ post_data.date }}</h5>
		    		<!-- <p>{{ post_data.body }}</p> -->
			    </div>
			    <div>
			</li>
	    {% endfor %}
	</ol>
{% endblock %}