{% extends "base.html" %}

{% block content %}
	{% if error_flag %}
		<h1>Article not found!</h1>

	{% else %}
		<h1>{{ blog.title }}</h1>
		<h5>Published: {{ blog.date }}</h5>
		<h5>Author: {{ blog.author }}</h5>
		<hr>
		<div class="w3-row-padding">
			<!-- <div class="w3-half"> -->
				<div class="w3-card w3-white" >
					{{ blog.body }}
				</div>
			<!-- </div>
			<div class="w3-half">
				<div class="w3-card-4" style="width:50%">
					<img src="{{ post.image }}" height="400" width="auto">
				</div>
			</div> -->
		</div>
	{% endif %}
{% endblock %}